flask==2.0.3
Flask-Login==0.5.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
Werkzeug==2.0.3
Jinja2==3.0.1
MarkupSafe==2.0.1
itsdangerous==2.0.1
Click==7.1.2
msal==1.13.0
pyodbc==4.0.39
azure-storage-blob==12.14.0
azure-common==1.1.24
cryptography==2.8
cffi==1.16.0
chardet==3.0.4
idna==2.8
certifi==2019.11.28
pyopenssl==19.1.0
gunicorn
setuptools
